<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="Loveservices" connectionString="Data Source=ARL5-5G000-128\SQL2008;Initial Catalog=services;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
